---
import i18next, { t } from "i18next";
import BaseLayout from "@layouts/BaseLayout.astro";
import { localizePath } from "@utils/localize-path";
import locations from "../_locations.json";
import { data } from "./[location]/_data";

export async function getStaticPaths() {
    return i18next.languages.map((lang) => {
        return locations.map((location) => ({
            params: { lang, location },
        }));
    });
};

const { lang, location } = Astro.params;

i18next.changeLanguage(lang as string);
---

<BaseLayout language={i18next.language}>
    <main class="container">
        <h1>{t(`global.${location}`) }</h1>
        <menu>
            {Object.values(data).map((datum) => (
                <li>
                    <a href={localizePath(`/locations/${location}${datum.link}`)}>
                        {t(`global.${datum.titleTranslationKey}`)}
                    </a>
                </li>
            ))}
        </menu>
    </main>
</BaseLayout>
