---
import i18next, { t } from "i18next";
import BaseLayout from "@layouts/BaseLayout.astro";
import { localizePath } from "@utils/localize-path";
import data from "./locations/[location]/_data/_strategic-innovation-programmes.json";

export async function getStaticPaths() {
    return i18next.languages.map((lang) => ({
        params: { lang },
        props: { strategicInnovationProgrammes: data },
    }));
};

const { lang } = Astro.params;
const { strategicInnovationProgrammes } = Astro.props;

i18next.changeLanguage(lang as string);
---

<BaseLayout language={i18next.language}>
    <main class="container">
        <h1>{t("global.strategicInnovationProgrammes")}</h1>
        {Object.entries(strategicInnovationProgrammes).map((item) => (
        <article>
            <h2>
                <a href={localizePath(`/locations/${item[0]}/strategic-innovation-programmes`)}>
                    {t(`location.country.${item[0]}`)}
                </a>
            </h2>
            {item[1][lang].map((item) => (
            <article>
                <h3>
                    <a href={item.website} target="_blank" rel="noopener noreferrer">
                        {item.name}
                    </a>
                </h3>
            </article>
            ))}
        </article>
        ))}
    </main>
</BaseLayout>
